ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 1em 0;
}

ul li a {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

ul li p {
  font-size: 0.9em;
  color: #555;
}
